---
# Create tinc host key 

- name: tinc genkey | host dir in keystore
  become: false
  local_action: 
    module: file
    path: "{{ tinc_keydir }}"
    state: directory

- name: tinc genkey | new host keys
  become: false
  local_action: "command /usr/sbin/tinc --batch -c {{ tinc_keydir }} generate-keys 4096"

- name: tinc genkey | push host public key to VPN servers
  include_tasks: hostconf.yml
  delegate_to: "{{ item }}"
  vars:
    host: "{{ inventory_hostname }}"
    ansible_port: "{{ hostvars[item]['ansible_port'] }}"
  with_items: "{{ groups['vpn'] }}"

