# Tinc host config
# {{ ansible_managed }}

{% for addr in tinc_addresses %}
Address = {{ addr }}
{% endfor %}

{% for subnet in tinc_subnets %}
Subnet = {{ subnet }}
{% endfor %}

{{ tinc_ed25519 }}

{{ tinc_rsa }}
