#! /bin/sh
# {{ tinc_dir }}/tinc-down
# {{ansible_managed}}
# Cleanup link config before shutting down tinc VPN connection

tid=100
pri=5000

ip ru del pri $pri
ip ro flush table $tid
ip -6 ro flush table $tid

{% if tinc_use_dhcpcd %}
dhcpcd -k $INTERFACE 
{% endif %}

ip link set $INTERFACE down
