##
# {{ tinc_dir }}/tinc.conf
# {{ ansible_managed }}
# Configuration for tinc mesh VPN

Port = {{ tinc_port }}

{% if tinc_hostname %}
Name = {{ tinc_hostname }}
{% else %}
Name = {{ inventory_hostname }}
{% endif %}

{% for host in tinc_connect %}
ConnectTo = {{ host }}
{% endfor %}
AutoConnect = yes

Mode = {{ tinc_mode }}

{% if 'win' in group_names %}
{% else %}
{%   if 'android' in group_names %}
Device = /dev/tun
{%   else %}
Device = /dev/net/tun
{%   endif %}
PriorityInheritance = yes
{% endif %}

DeviceStandby = yes
ProcessPriority = high
LocalDiscovery = yes

# for tinc-1.0 connections
ReplayWindow = 64
MACLength = 8

PingTimeout = 10
MaxTimeout = 300

# host config
Compression = 10

{% if 'android' in group_names %}
ScriptsInterpreter = /system/bin/sh
{% endif %}
