#! /system/bin/sh
# /etc/tinc/ho/tinc-down
# Undo routing from tinc-up

iptables -t nat -D OUTPUT -j out_dns 2>&-

ip ru del pri 18500
ip ru del pri 18600
ip ro flush table 100
ip -6 ro flush table 100

pid=$(cat /data/local/udhcpc.pid)
kill -USR2 "$pid" && sleep 1 && kill $pid
ip link set $INTERFACE down
