#! /system/bin/sh
# cloud://data/Files/tinc/tinc-up
# Link configuration once VPN is up
# + dhcpcd adds default route to "main" table
# + but in "ip rule", main table has lowest priority

ip link set $INTERFACE up

tincdir="/sdcard/Android/tinc"

tid=100

initRouting() {
  priority=18500
  ip ru del pri $priority 2>&-
  ip ru add pri $priority from all lookup $tid
  ip ro flush table $tid
  ip -6 ro flush table $tid
}
initRouting

gethost() {
  nslookup $1 | awk '/^Address/ {i++} i>1 {print $3}'
}

getroute() {
  rt=$(ip ro get $1 | head -n 1)
  case "$rt" in
    (*error*) echo "$rt";;
    (*) rt="${rt#$1}"; echo "${rt%uid*}";;
  esac
}

saveroute() {
  for node in $@; do
    for ip in $(gethost $node); do
      old_rt=$(getroute $ip)
      case "$old_rt" in
        (*error*) echo "No route: $old_rt";;
        (*unreachable*) echo "No route: $old_rt";;
        (*) echo "Static route: $ip $old_rt"
          ip ro add table $tid $ip $old_rt;;
      esac
    done
  done
}

vpnhosts() {
  grep 'Address =' $tincdir/hosts/* | awk '{print $3}' | sort -u
}

saveroute $(vpnhosts)

echo "Enabling default gateway via VPN"
ip ru add pri 18600 lookup main

redirectDNS() {
  echo "Redirecting DNS traffic to $1"

  chain="out_dns"
  nat="iptables -t nat"
  rule="--dport 53 -j DNAT --to $1"

  $nat -N $chain 2>&-
  $nat -F $chain
  $nat -A $chain -p udp $rule
  $nat -A $chain -p tcp $rule
  $nat -C OUTPUT -j $chain 2>&- || \
  $nat -I OUTPUT -j $chain
}

redirectDNS {{ tinc_subnet }}.1

echo "Starting DHCP client on $INTERFACE"
udhcpc -Rb -i $INTERFACE -x hostname:$NAME \
  -s /data/local/udhcpc-script.sh \
  -p /data/local/udhcpc.pid &
