## {{ tinc_dir }}/tinc.conf
# {{ ansible_managed }}
# Configure tinc mesh VPN

Port = {{ tinc__port }}

Name = {{ tinc__name | d(inventory_hostname, true) }}

{% for host in groups[tinc__servers] if host != inventory_hostname %}
ConnectTo = {{ hostvars[host]['tinc_name_' ~ tinc_network] | d(hostvars[host].tinc_name, true) | d(host, true) }}
{% endfor %}
AutoConnect = yes

Mode = {{ tinc__mode }}

{% if 'win' not in group_names %}
{%   if 'android' in group_names %}
Device = /dev/tun
ScriptsInterpreter = /system/bin/sh
{%   else %}
Device = /dev/net/tun
{%   endif %}
PriorityInheritance = yes
{% endif %}

DeviceStandby = yes
ProcessPriority = high
LocalDiscovery = yes

PingTimeout = 10
MaxTimeout = 300

# for tinc-1.0 connections
ReplayWindow = 64
MACLength = 8

# host config
Compression = 10
