## /etc/systemd/network/20-{{ tinc_prefix ~ tinc_network }}.network
# per-link config of systemd-network, also see {{ tinc_dir }}/tinc-up
# {{ ansible_managed }}

[Match]
Name={{ tinc_prefix ~ tinc_network }}

[Network]
Description="tinc VPN {{ tinc_network }}"
LinkLocalAddressing=no
IPv6AcceptRA=no
LLMNR=no

{%- if tinc__ip %}
Address={{ tinc__ip }}/24
{% endif -%}

Domains=~.

{%- if 'gw' in group_names %}
IPMasquerade=yes
{% endif -%}

{%- if systemd_broken_dhcp or tinc__ip %}
DHCP=no
Domains={{ tinc__domain }}

  {%- if tinc__dns %}
DNS={{ tinc__dns }}
  {%- endif %}
{% else %}
DHCP=yes

[DHCP]
UseDomains=true
UseHostname=false
{% endif %}
