## /etc/systemd/network/20-{{ tinc_network }}.network
# per-link config of systemd-network, also see {{ tinc_dir }}/tinc-up
# {{ ansible_managed }}

[Match]
Name={{ tinc_network }}

{% if systemd_broken_dhcp and not tinc__ip %}
[Link]
Unmanaged=yes
{% endif %}

[Network]
Description="tinc VPN {{ tinc_network }}"
LinkLocalAddressing=no
IPv6AcceptRA=no
LLMNR=no

{% if tinc__ip %}
Address={{ tinc__ip }}/24
{%   for dns in tinc__dns %}
DNS={{ dns }}
{%   endfor %}
{% endif %}

{% if 'gw' in group_names %}
IPMasquerade=yes
{% endif %}

Domains=~.

{% if not systemd_broken_dhcp and not tinc__ip %}
DHCP=yes

[DHCP]
UseDomains=yes
UseHostname=no
{% endif %}
